/*
 Theme Name:   Listeo Child
 Description:  Listeo Child Theme
 Author:       Levi Gable
 Author URI:   https://github.com/levimykel
 Template:     listeo
 Version:      1.1.28
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Text Domain:  listeochild
*/


/*
 * WP Admin Bar
 */
.mm-wrapper_opened #wpadminbar {
  top: -32px;
}

@media screen and (max-width: 782px) {
  .mm-wrapper_opened #wpadminbar {
    top: -46px;
  }
}

@media screen and (max-width: 600px) {
  #wpadminbar {
    position: fixed;
  }
}


/*
 * Heading & top navigation
 */
#navigation ul ul li {
  width: 200px;
}

#sign-in-dialog .mfp-close::before {
  top: -4px;
}
#sign-in-dialog .mfp-close::after {
  top: -5px;
}

@media (max-width: 1239px) and (min-width: 1025px) {
  .left-side {
    width: 65%;
  }
  .right-side {
    margin-top: 0;
  }

  #navigation.style-1 {
    margin: 4px 0 0;
    width: auto;
    padding-top: 0;
  }
  #navigation.style-1:before {
    display: none;
  }
}

@media only screen and (max-width: 1024px) {
  #header > .container {
    position: relative;
  }

  #header-container.header-style-2 .right-side,
  .right-side {
    position: absolute;
    width: auto;
    right: 100px;
  }

  #header-container.header-style-2 .right-side .header-widget,
  .right-side .header-widget {
    padding-top: 3px;
    border-top: none;
  }
}

@media (max-width: 570px) {
  #header-container.header-style-2 .right-side,
  .right-side {
    right: 85px;
  }

  .user-menu .user-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 0;
  }

  .user-menu ul {
    left: -100px;
  }

  .user-name span img {
    box-shadow: 0 1px 5px rgba(0,0,0,0.2);
  }
}

@media (max-width: 480px) {
  .user-menu {
    margin-top: 9px;
  }
  .user_not_logged_in .header-widget .sign-in {
    top: 6px;
  }
}

@media (max-width: 420px) {
  .user_not_logged_in #header-container.header-style-2 .right-side,
  .user_not_logged_in .right-side {
    position: relative;
    right: 0;
    margin-bottom: 0;
  }
}

@media (max-width: 400px) {
  #header-container.header-style-2 .right-side,
  .right-side {
    right: 65px;
  }
}

@media (max-width: 360px) {
  #header-container.header-style-2 .right-side,
  .right-side {
    position: relative;
    right: -10px;
    margin-bottom: 10px;
  }

  .user-menu ul {
    left: -176px;
  }
}

@media (max-width: 380px) {
  .user-name span img {
    top: 0;
  }
  .user-name span:after {
    bottom: 0;
  }
}

/*
 * Homepage
 */
.single-listing .container p {
  font-size: 15px !important;
  line-height: 1.6 !important;
}

.listing-item-link-wrapper {
  position: relative;
}

.testimonial-carousel .slick-slide.slick-active div.testimonial-box {
  background: #f8f8f8;
}
.testimonial-carousel .slick-slide.slick-active div.testimonial-box {
  color: #696969;
}

.vc-hoverbox-wrapper.vc-hoverbox-shape--rounded .vc-hoverbox-front {
  justify-content: start;
  background-position: center bottom;
  background-size: 90%;
  background-repeat: no-repeat;
}

.vc_column_container:nth-child(even) .vc-hoverbox-wrapper.vc-hoverbox-shape--rounded .vc-hoverbox-front {
  background-color: #ebebeb;
}

@media only screen and (max-width: 1199px) {
  .vc-hoverbox-wrapper.vc-hoverbox-shape--rounded .vc-hoverbox-front {
    background-position: center 60%;
  }
}

@media only screen and (max-width: 767px) {
  .vc-hoverbox-wrapper.vc-hoverbox-shape--rounded .vc-hoverbox-front {
    background-size: 25%;
    background-position: center 80%;
  }
}

@media only screen and (max-width: 628px) {
  .vc-hoverbox-wrapper.vc-hoverbox-shape--rounded .vc-hoverbox-front {
    background-size: 30%;
    background-position: center 80%;
  }
}


/*
 * Trip list
 */
.listing-item-container {
  height: initial;
}

.listing-item-container.list-layout .listing-item-inner h4 {
  margin: 16px 0 0;
  font-size: 16px;
  line-height: 1.6;
}

.listings-sidebar-content {
  overflow: visible;
}

@media only screen and (max-width: 768px) {
  .listing-item-container.list-layout a > span.like-icon {
    top: 35px;
    transform: initial;
  }
}

#listeo_core-search-form .checkboxes {
  margin: 20px 0 30px;
  padding: 0 10px;
}


/*
 * Listing page
 */
.mfp-arrow.mfp-arrow-right:before {
  content: "";
  top: -25px;
  left: -14px;
}
.mfp-arrow.mfp-arrow-left:before {
  content: "";
  top: -25px;
  left: -14px;
}
.mfp-arrow-right:after {
  margin-left: 25px;
}
.mfp-arrow-left:after {
  margin-left: 17px;
}
.mfp-arrow:after {
  top: -17px;
}
/* .mfp-close:hover {
  -moz-transform: rotate(90deg) translateX(7px) translateY(-7px);
  -webkit-transform: rotate(90deg) translateX(7px) translateY(-7px);
  -o-transform: rotate(90deg) translateX(7px) translateY(-7px);
  -ms-transform: rotate(90deg) translateX(7px) translateY(-7px);
  transform: rotate(90deg) translateX(7px) translateY(-7px);
} */

.mfp-close:hover {
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
body .mfp-arrow:active {
  margin-top: 0;
}

#titlebar.listing-titlebar {
  padding-bottom: 35px;
}

.listing-titlebar-title .listing-address {
  margin-left: 10px;
}

.listing-titlebar-title .fa-map-marker:before {
  content: "\f041";
}

.apartment-details {
  margin: 5px 0 20px;
}

.apartment-details,
.apartment-details span {
  font-size: 12px !important;
}

/* #titlebar.listing-titlebar .category-bubbles {
  margin: 10px 0;
} */

#titlebar.listing-titlebar .category-bubbles .bubble-name {
  font-size: 14px;
  margin-right: 5px;
}

#titlebar.listing-titlebar span.listing-tag {
  top: 0;
  margin: 0 5px 10px 0;
  padding: 5px 12px;
}
#titlebar.listing-titlebar span.listing-tag:last-of-type {
  margin-right: 0;
}

#titlebar.listing-titlebar span.listing-tag a {
  font-size: 9px;
  line-height: 12px;
}

@media only screen and (min-width: 992px) {
  .apartment-details li {
    padding-left: 0;
    border: none;
  }

  #titlebar.listing-titlebar span.listing-tag {
    padding: 2px 8px;
  }

  #titlebar.listing-titlebar span.listing-tag a {
    font-size: 8px;
    line-height: 11px;
  }
}

#extra-details-tabs .vc_tta-panels p,
#extra-details-tabs .vc_tta-panels ul,
#extra-details-tabs .vc_tta-panels ol,
#sustainability-tabs .vc_tta-panels p,
#sustainability-tabs .vc_tta-panels ul,
#sustainability-tabs .vc_tta-panels ol {
  font-size: 15px;
  line-height: 1.6;
}


/*
 * Dashboard
 */
.dashboard #logo {
  background-color: transparent;
}
#edit_user {
  background: #FFFFFF;
}
#edit_user .dashboard-list-box-static:nth-of-type(1) {
  padding-bottom: 0;
}
#edit_user .dashboard-list-box-static:nth-of-type(2) {
  padding-top: 0;
}
#edit_user .submit-section-header,
#edit_user .my-profile .label-twitter,
#edit_user .my-profile input.twitter,
#edit_user .my-profile .label-facebook,
#edit_user .my-profile input.facebook,
#edit_user .my-profile .label-linkedin,
#edit_user .my-profile input.linkedin,
#edit_user .my-profile .label-instagram,
#edit_user .my-profile input.instagram,
#edit_user .my-profile .label-youtube,
#edit_user .my-profile input.youtube,
#edit_user .my-profile .label-skype,
#edit_user .my-profile input.skype,
#edit_user .my-profile .label-whatsapp,
#edit_user .my-profile input.whatsapp {
  /* visibility: hidden;
  height: 0;
  margin: 0;
  padding: 0;
  border: none; */
  display: none;
}


/*
 * Contact Us page
 */
.sidebar-textbox h1 {
  font-size: 28px;
}
#post-100 .vc_icon_element {
  display: inline-block;
  margin-bottom: 20px;
}
#post-100 .vc_icon_element.vc_icon_element-outer .vc_icon_element-inner {
  width: 35px;
  height: 35px;
}


/*
 * Blog listing page
 */
.blog-page .blog-post.sticky .post-content {
  background: #fafafa;
}

/*
 * Blog page
 */
.post-content h1 {
  margin: 0;
  font-size: 25px;
  font-weight: 400;
  line-height: 36px;
}

/*
 * Author page
 */
#titlebar .user-profile-name h1 {
  font-size: 28px;
  display: inline-block;
  margin-bottom: -3px;
}

/*
 * Footer Pages
 */
.bg-page-article .boldgrid-section .bg-editor-hr-wrap .bg-hr {
  margin-top: 0;
  margin-bottom: 0;
}
.bg-blockquote::before {
  content: none;
}


/*
 * Footer
 */
body #footer {
  padding-top: 50px;
}

body #footer .footer-widget {
  margin-bottom: 24px;
}
body #footer .footer-widget:last-child {
  margin-bottom: 0;
}

body #footer .copyrights {
  margin-top: 40px;
}

body #footer h4 {
  margin-bottom: 18px;
  font-size: 16px;
  font-weight: bold;
}

body #footer p {
  margin-bottom: 8px;
  font-size: 13px;
  line-height: 18px;
}

#footer.dark a:hover {
  color: #F58E2F;
}


/*
 * 404 Page
 */
.page-404 {
  position: relative;
  padding-top: 140px;
  background: url("./images/background-404.jpeg");
  background-color: grey;
  background-position: center;
  background-size: cover;
}
#not-found h1 {
  font-size: 60px;
  color: #FFFFFF;
}
#not-found p,
.page-404 p {
  color: #FFFFFF;
}
#not-found .button {
  margin: 0 auto;
}
.page-404 .photo-credit {
  position: absolute;
  bottom: 0;
}
@media only screen and (min-width: 1208px) {
  .page-404 {
    min-height: 650px;
  }
}


/*
 * Misc
 */
.grecaptcha-badge {
  visibility: hidden;
}
